// Specify overrides (theme and/or base variables etc.)
// See https://vuetifyjs.com/quick-start
$theme := {
  // we take material amber FFC107 and put it thru color palette tool: http://paletton.com/#uid=11b0u0kv7w0j8DWopyzxBpdCpjR 
  // and get: FFD967, FFCE3D, FFC107, C99700, 9E7700
  primary: #9a4c29   // darkest of the 5 is 9e7700, but I gave it more reddish tint from the manuscript -> #9a4c29
  accent: #C99700    // second darkest???
  secondary: #424242  // ?? what?  check out https://ux.stackexchange.com/questions/89815/choosing-colors-in-material-design
  info: #0D47A1
  warning: #ffb300
  error: #B71C1C
  success: #2E7D32
}

// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

.page
  @extend .fade-transition

