// Specify overrides (theme and/or base variables etc.)
// See https://vuetifyjs.com/quick-start
$theme := {
  // we take 0d47a1 form material design similar to durabledrupal logo
  // see https://material.io/color/#!/?view.left=0&view.right=0&primary.color=0D47A1&secondary.color=1565C0
  primary: #0d47a1   // used 0d47a1 as base, the 2nd darkest
  accent: #002171    // darkest
  secondary: #1565c0  // Check out https://ux.stackexchange.com/questions/89815/choosing-colors-in-material-design
  info: #5472d3
  warning: #003c8f
  error: #5e92f3
  success: #5472d3
}

// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

.page
  @extend .fade-transition

